<?php

/**
 * Configuration for userli plugin
 *
 * Copy this file to config.inc.php and adjust the settings
 */

// API endpoint for userli aliases
$config['userli_url'] = 'http://userli';

// API token for userli aliases
$config['userli_token'] = '3ea02d4e9490e2a4d065ede69d6741a6';

// SSL certificate verification (recommended: true)
$config['userli_ssl_verify'] = false;
